.footer {
    padding-left: 551px;
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: $footer-bg;
    font-size: 14px;
    letter-spacing: 0.05rem;
}

.footer__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
.footer__logo {
    margin-top: 27px;
}


.footer__nav-list {
display: grid;
gap: 15px;

}
