
.title-4 {
    text-align: center;
    margin-top: 110px;
    margin-bottom: 45px;
    font-size: 48px;
    font-family: $font-accent;
    font-weight: 600;
}
.rewiews__img {
    align-items: center;
    display: flex;
    column-gap: 45px;
    padding-left: 220px;
}