// Fonts
$font-main: 'Raleway', sans-serif;
$font-accent: 'Handjet', sans-serif;
$font-about: 'Roboto', sans-serif;
$font-rewiew: 'Handjet', sans-serif;

// Colors
$dark: #242B33;
$accent: #140953;
$white: #fff;
$footer-bg: #2D343C;

//Media
$tablet: 999px;
